/* css boilerplate */

* { box-sizing: border-box; }
html,body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}
body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

h1 {

}
h2 {
  font-weight: normal;
  margin: 10px 0;
  padding: 3px;
  font-size: 24px;
}
h3 {
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 3px;
  font-size: 18px;
}
h4 {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  color: #888;
  text-transform: uppercase;
  margin: 5px 10px;
  margin-top: 20px;
}
h4:first-child {
  margin-top: 10px;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* header stuff */

header {
  width: 100%;
  background: #11f;
  color: white;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 3;
}
header > section {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex: 1 0;
  font-weight: bold;
}
header > section:last-of-type {
  justify-content: flex-end;
}

/* sidebar / body columns */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  float: left;
  width: 200px;
  flex: 0 0 200px;
  padding: 10px;
  margin-right: 10px;
}
.sidebar a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #444;
}
.sidebar a.active {
  font-weight: bold;
  color: #222;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
}
.body > div {
  padding-bottom: 40px;
}

/* buttons / forms */

.btn:focus, .btn:hover {
  background: #f1f1fc;
  color: #4b48d6 !important;
  text-decoration: none;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .05rem solid;
  border-radius: 2px;
  margin-right: 5px;
  color: #11f;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  height: 1.8rem;
  line-height: 1rem;
  outline: none;
  padding: .35rem .4rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn.reset,
.btn.panic {
  color: #b00;
}
.btn.view_saved,
.btn.saved {
  background: #11f;
  border-color: #11f;
  color: white;
}
.btn[disabled] {
  color: #bbb !important;
  border-color: #bbb !important;
  background: white !important;
  cursor: default;
}
.btn.view_saved:focus,
.btn.view_saved:hover,
.btn.saved:focus,
.btn.saved:hover {
  background: #0808ee;
  color: white !important;
}
.row .btn {
  margin: 0 5px 0 0;
}
input[type=text] {
  border: 1px solid #888;
  padding: 4px;
  font-size: 15px;
}


/* tables on metadata pages */

table {
  border: 0;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.tableObject td,
.tableObject th {
  padding: 3px;
  vertical-align: top;
}
.tableObject hr {
  width: 100%;
  color: transparent;
  border: 0;
  border-bottom: 1px solid #bbb;
  align: left;
  margin: 3px 0;
  padding: 0;
}
.tableObject th,
.tableTuples th {
  min-width: 145px;
  text-align: left;
  text-transform: capitalize;
  padding: 3px;
  padding-right: 10px;
  font-weight: 300;
  color: #333;
}
.tableTuples td {
  text-align: right;
  padding: 3px;
}
.tableObject td {
  font-weight: normal;
  color: #000;
}
.tableObject .tableObject {
  border: 1px solid #ddd;
}
.tableArray {
  border: 1px solid #ddd;
  border-spacing: 0;
}
.tableArray td {
  border-bottom: 1px solid #ddd;
}
.gray {
  font-size: 12px;
  color: #888;
  display: block;
}
.sha256.heading {
  margin: 20px 0 0px;
}
.gray span {
  padding-right: 5px;
}
.gray {
  margin-bottom: 10px;
}
.gray a {
  color: #666;
}

.verified {
  color: #080;
  font-weight: bold;
}
.unverified {
  color: #f00;
  font-weight: 300;
}

.loading, .error {
  font-weight: normal;
  margin: 10px 0;
  padding: 3px;
  font-size: 24px;
}

.title {
  text-transform: capitalize;
}
.rect {
  position: absolute;
}
.rect { border: 1px solid rgba(0,0,255); background-color: rgba(0,0,255,0.1); }

video {
  max-width: 640px;
  margin: 10px 0;
}
.video {
  margin: 0 0 10px 0;
}
.video .bg {
  cursor: pointer;
  position: relative;
  background-size: cover;
}
.video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 20%;
  height: 20%;
  background-image: url(/search/static/img/play.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.desktop .video .play:hover {
  -webkit-filter: invert(60%) sepia(100%) saturate(500%) hue-rotate(160deg);
}

/* spectre.css loader */

.loader {
  color: transparent !important;
  min-height: .8rem;
  pointer-events: none;
  position: relative;
}

.loader::after {
  animation: loader 500ms infinite linear;
  border: .1rem solid #5755d9;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: .8rem;
  left: 50%;
  margin-left: -.4rem;
  margin-top: -.4rem;
  position: absolute;
  top: 50%;
  width: .8rem;
  z-index: 1;
}

.loader.loader-lg {
  min-height: 2rem;
}

.loader.loader-lg::after {
  height: 1.6rem;
  margin-left: -.8rem;
  margin-top: -.8rem;
  width: 1.6rem;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}