SITE_CLIENT=(name of client who will be using this vcat instance)
SITE_CLIENT_SHORT=(abbreviated name of the client)
EMAIL_HOST=smtp.yourhost.com
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
MEDIA_ROOT=/data_store/media/
CONVERT_PATH=/usr/local/bin/convert
DJANGO_DEBUG=True
DB_NAME=vcat
DB_USER=vframe
DB_PASS=password
FILE_STORAGE=s3
S3_KEY=
S3_SECRET=
S3_ENDPOINT=https://ams3.digitaloceanspaces.com
S3_BUCKET=
S3_REGION=ams3
