.dash-a {
	padding-right: 3rem;
}
ul.user-tasks {
	list-style: none;
	margin: 0 0 1rem 0;
}
ul.user-tasks li {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	display: inline;
	padding-right: 1rem;
}
ul.task-menu a {
	padding-right: 1rem;
}
ul.user-stats {

}
.dashboard {
  padding: 1rem;
}
.dashboard h1 {
}
.logged-out button {
  cursor: pointer;
}
.logged-out button:hover {
 
}

/*
ul.userStats {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1.6rem;
}
ul.userStats li {
	display: flex;
	flex-direction: column;
	flex: 1;
	list-style-type: none;
	text-align: center;
	margin: 0 0.8rem;
	padding: 0;
	font-size: 10px;
}
ul.userStats li b {
	display: block;
	font-weight: normal;
	font-size: 18px;
}
*/
.dashboard h1 {
	color: #333;
	margin-top: 0;
	margin-bottom: 10px;
}
.dashboard h1 b {
	font-weight: 900;
}
.dashboard h3 {
	text-transform: uppercase;
	font-size: 0.5rem;
	margin-top: 0;
	margin-bottom: 5px;
}
.userProgress progress {
	width: 100%;
}
.userAchievement {
	font-style: italic;
}