.btn span {
  font-size: large;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.searchContainer h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 3px;
}
.searchContainer h4 {
  margin-left: 0;
  width: 100%;
}
.searchContainer .subtitle {
  display: block;
  margin-left: 3px;
  margin-bottom: 10px;
}
.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #eee;
}
.searchForm .row {
  align-items: center;
}
.searchBox {
  min-width: 640px;
  margin: 0 10px 0 0;
  background-color: #eee;
}

.searchMeta {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
}
.searchMeta span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100vw - 23px - 640px - 30px);
}

.keyframe .thumbnail {
  position: relative;
  cursor: pointer;
}
.keyframe .searchButtons {
  position: absolute;
  bottom: 0; left: 0;
  padding: 0 5px 15px 5px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.2s;
}
.desktop .keyframe .thumbnail:hover .searchButtons,
.mobile .keyframe .searchButtons {
  opacity: 1;
}
.keyframe .searchButtons .btn {
  margin-right: 0;
  height: auto;
  padding: 0.15rem 0.3rem;
}
.keyframe a {
  text-decoration: none;
}

.body > div.searchForm {
  padding-bottom: 20px;
}
.upload {
  position: relative;
  cursor: pointer;
}
.upload .btn {
  pointer-events: none;
  cursor: pointer;
}
.upload input {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0;
  cursor: pointer;
}

.reviewSaved,
.browseComponent,
.searchQuery {
  margin: 0px 10px;
  padding: 13px;
}
.searchQuery img {
  cursor: crosshair;
  user-select: none;
  max-width: 640px;
  max-height: 480px;
}
.searchContainer .searchQuery h3 {
  margin-left: 0;
  margin-bottom: 10px;
}

.searchBox {
  position: relative;
}
.searchBox .box {
  position: absolute;
  cursor: crosshair;
  pointer-events: none;
  border: 1px solid #11f;
  background-color: rgba(16,16,255,0.1);
}
.searchResults {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.searchResultsHeading {
  width: 100%;
}
.searchOptions .row {
  font-size: 12px;
  margin-left: 10px;
}
.searchOptions input {
  font-size: 12px;
  margin-right: 5px;
  font-family: Helvetica, sans-serif;
}
.searchOptions input[type=text],
.searchOptions input[type=number] {
  width: 30px;
  text-align: right;
}
.keyframeGroup {
  max-width: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

/* load more button that gets bigger */

.loadMore {
  width: 400px;
  margin: 20px;
  height: 40px;
  transition: all;
}
.loadMore.wide {
  width: calc(100% - 40px);
  margin: 20px;
  height: 100px;
}
.loadingMore {
  margin: 20px 20px 200px 20px;
}

/* health and safety warning */

.safety div {
  display: inline-block;
  margin: 20px 20px;
  padding: 10px;
  background: #fff8e8;
  color: #111;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 13px;
  line-height: 1.4;
}
.safety ul {
  margin: 0;
  padding: 0 21px;
}
.safety li {
  padding: 1px 0 0 0;
}
.safety h4 {
  margin-top: 5px;
}

/* browser section */

.browseComponent h3 {
  margin-bottom: 10px;
}

/* disable twiddle button on input[type=number] */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance:textfield;
}
