.btn span {
  font-size: large;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #eee;
}
.searchForm .row {
  align-items: center;
}
.keyframe label.searchButtons {
  justify-content: flex-start;
}
.searchButtons {
  margin-top: 5px;
}
.searchButtons .btn:first-child {
  margin-left: 0;
}
.body > div.searchForm {
  padding-bottom: 20px;
}
.upload {
  position: relative;
}
.upload .btn {
  pointer-events: none;
}
.upload input {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0;
  cursor: pointer;
}
.row .btn {
  margin: 0 5px;
}
.searchQuery {
  margin: 0px 15px;
  padding: 10px;
}
.searchQuery .sha256 {
  padding: 0 0 10px 0px;
}
.searchQuery img {
  max-width: 320px;
  max-height: 180px;
}
.searchResults {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.perPage {
  margin-left: 10px;
  font-size: 12px;
}
.perPage input {
  font-size: 12px;
  width: 30px;
  font-family: Helvetica, sans-serif;
}
.loadMore {
  width: 400px;
  margin: 20px;
  height: 40px;
}
.loadMore.wide {
  width: calc(100% - 40px);
  margin: 20px;
  height: 100px;
}
.loadingMore {
  margin: 20px;
}